<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.college.smartrash.activity">


    <uses-permission android:name="android.permission.INTERNET"/>


    <application

        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="SmarTrash"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">




        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".HelpActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".SignUpActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".BookActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".GetRateActivity"
            android:screenOrientation="portrait" />


        <activity android:name=".CompostActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".NotificationActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".CartListActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".WhatWeBuyActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ProcessActivity"
            android:screenOrientation="portrait" />



    </application>

</manifest>
